{% extends 'base.html' %}
{% block content %}
    <h1>Area detail</h1>
    <div class="card">
        <h3 class="card-header">Area ID: {{area.id}}</h3>
        <div class="card-body">
            <h4 class="card-subtitle mb-2 text-body-secondary">Name: {{area.area_name}}</h4>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Cities
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="list-group">
                                {% for city in cities %}
                                    <a href="{% url 'citydetail' city.id %}" class="list-group-item list-group-item-action">{{city}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock  %}