{% extends "base.html" %}
{% block content %}
    <div class="row justify-content-between align-items-center pb-3">
        <div class="col-4">
            <h1>List of areas</h1>
            {% comment %} <p>Hey yena was here</p> {% endcomment %}
        </div>
        <div class="col-4 text-end">
            <button type="button" class="btn btn-primary" onclick="window.location='{% url 'areaadd' %}'">Add area</button>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            {% for area in areas %}
                <tr ondblclick="location.href='{% url 'areadetail' area.id %}'">    
                    <th scope="row">{{area.id}}</th>
                    <td>{{area.area_name}}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger" onclick="window.location='{% url 'deletearea' area.id %}'">Delete</button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
