{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <h1>Add special feature</h1>
    <form action="{% url 'insertsf' %}" method="post">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            {% render_field sf_form.name placeholder="Special feature" class+="form-control" id="name" %}
        </div>
        <input type="submit" class="btn btn-primary" value="Submit"/>
    </form>
{% endblock content %}