{% extends "base.html" %}
{% block content %}
    <div class="row justify-content-between align-items-center pb-3">
        <div class="col-4">
            <h1>List of special features</h1>
        </div>
        <div class="col-4 text-end">
            <button type="button" class="btn btn-primary" onclick="window.location='{% url 'sfadd' %}'">Add special feature</button>
        </div>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for sf in sfs %}
                <tr>    
                    <th scope="row">{{sf.id}}</th>
                    <td>{{sf.name}}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger" onclick="window.location='{% url 'sfdelete' sf.id %}'">Delete</button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}