{% extends "base.html" %}
{% block content %}
    <div class="row justify-content-between align-items-center pb-3">
        <div class="col-4">
            <h1>List of addresses</h1>
        </div>
        <div class="col-4 text-end">
            <button type="button" class="btn btn-primary" onclick="window.location='{% url 'addressadd' %}'">Add address</button>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Street</th>
            <th scope="col">Zip-code</th>
            <th scope="col">City</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            {% for address in addresses %}
                <tr ondblclick="location.href='{% url 'addressdetail' address.id %}'">    
                    <th scope="row">{{address.id}}</th>
                    <td>{{address.street}}</td>
                    <td>{{address.zip_code}}</td>
                    <td>{{address.city}}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger" onclick="window.location='{% url 'deleteaddress' address.id %}'">Delete</button>
                            <button type="button" class="btn btn-primary" onclick="window.location='{% url 'addressedit' address.id %}'">Edit</button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
