{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <h1>Add address</h1>
    <form action="{% url 'insertaddress' %}" method="post">
        {% csrf_token %}
    
        <div class="mb-3">
            <label for="street" class="form-label">Street</label>
            {% render_field ad_form.street placeholder="Street" class+="form-control" id="street" %}
        </div>
        
        <div class="mb-3">
            <label for="zip_code" class="form-label">Zip-code</label>
            {% render_field ad_form.zip_code class+="form-control" id="zip_code" %}
        </div>

        <div class="mb-3">
            <label for="zip_code" class="form-label">City</label>
            {% render_field ad_form.city class+="form-select" id="city" %}
        </div>

        <input type="submit" class="btn btn-primary" value="Submit"/>
    </form>
{% endblock content %}