{% extends 'base.html' %}
{% block content %}
    <h1>Address detail</h1>
    <div class="card">
        <h3 class="card-header">Address ID: {{address.id}}</h3>
        <div class="card-body">
            <h4 class="card-subtitle mb-2 text-body-secondary">Street: {{address.street}}</h4>
            <p class="card-subtitle mb-2 text-body-secondary">Zip-code: {{address.zip_code}}</p>
        </div>
        <div class="card-footer">
            City: {{address.city}}
        </div>
    </div>
{% endblock  %}