{% extends "base.html" %}
{% block content %}
    <div class="row justify-content-between align-items-center pb-3">
        <div class="col-4">
            <h1>List of cities</h1>
        </div>
        <div class="col-4 text-end">
            <button type="button" class="btn btn-primary" onclick="window.location='{% url 'cityadd' %}'">Add city</button>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Area</th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            {% for city in cities %}
                <tr ondblclick="location.href='{% url 'citydetail' city.id %}'">    
                    <th scope="row">{{city.id}}</th>
                    <td>{{city.area}}</td>
                    <td>{{city.name}}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger" onclick="window.location='{% url 'deletecity' city.id %}'">Delete</button>
                            <button type="button" class="btn btn-primary" onclick="window.location='{% url 'cityedit' city.id %}'">Edit</button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
