{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <h1>Edit city</h1>
    <form action="{% url 'updatecity' city.id %}" method="post">
        {% csrf_token %}
    
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            {% render_field ct_form.name placeholder="Name" class+="form-control" id="name" %}
        </div>
        
        <div class="mb-3">
            <label for="area" class="form-label">Area</label>
            {% render_field ct_form.area class+="form-select" id="area" %}
        </div>

        <input type="submit" class="btn btn-primary" value="Submit"/>
    </form>
{% endblock content %}