{% extends 'base.html' %}
{% block content %}
    <h1>City detail</h1>
    <div class="card">
        <h3 class="card-header">City ID: {{city.id}}</h3>
        <div class="card-body">
            <h4 class="card-subtitle mb-2 text-body-secondary">Name: {{city.name}}</h4>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Addresses
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="list-group">
                                {% for address in addresses %}
                                    <a href="{% url 'addressdetail' address.id %}" class="list-group-item list-group-item-action">{{address}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            Area: {{city.area}}
        </div>
    </div>
{% endblock  %}