{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <h1>Add courier</h1>
    <form action="{% url 'insertcourier' %}" method="post">
        {% csrf_token %}
    
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            {% render_field c_form.name placeholder="Name" class+="form-control" id="name" %}
        </div>
        
        <div class="mb-3">
            <label for="surname" class="form-label">Surname</label>
            {% render_field c_form.surname placeholder="Surname" class+="form-control" id="surname"%}
        </div>

        <div class="mb-3">
            <label for="at_work" class="form-label">At work</label>
            {% render_field c_form.at_work class+="form-check" id="at_work" %}
        </div>
        
        <div class="mb-3">
            <label for="login" class="form-label">Login</label>
            {% render_field c_form.login placeholder="Login" class+="form-control" id="login"%}
        </div>
        
        <div class="mb-3">
            <label for="area" class="form-label">Area</label>
            {% render_field c_form.area class+="form-select" id="area" %}
        </div>

        <input type="submit" class="btn btn-primary" value="Submit"/>
    </form>
{% endblock content %}