{% extends 'base.html' %}
{% block content %}
    <div class="row justify-content-between align-items-center pb-3">
        <div class="col-4">
            <h1>Courier profile</h1>
        </div>
        <div class="col-4 text-end">
            <button class="btn btn-primary" type="button" onclick="window.location='{% url 'courieredit' courier.id %}'">Edit profile</button>
        </div>
    </div>
    <div class="card">
        <h3 class="card-header">Courier: {{courier}} ID: {{courier.id}}</h3>
        <div class="card-body">
            <h4 class="card-subtitle mb-2 text-body-secondary">Login: {{courier.login}}</h4>
            <p class="card-subtitle mb-2 text-body-secondary mt-2">Area: {{courier.area}}</p>
            {% if courier.at_work %}
            <p class="card-subtitle mb-2 text-body-secondary">Currently at work: Yes</p>
            {% else %}
            <p class="card-subtitle mb-2 text-body-secondary">Currently at work: No</p>
            {% endif %}
        </div>
        <div class="card-footer">
            Date hired: {{courier.date_hired}}
        </div>
    </div>
{% endblock  %}