{% extends "base.html" %}
{% block content %}
    <div class="row justify-content-between align-items-center pb-3">
        <div class="col-4">
            <h1>Courier list</h1>
        </div>
        <div class="col-4 text-end">
            <button type="button" class="btn btn-primary" onclick="window.location='{% url 'courieradd' %}'">Add courier</button>
        </div>
    </div>
    <div class="accordion" id="accordionMain">
        {% for crr in couriers %}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{crr.id}}" aria-expanded="false" aria-controls="{{crr}}">
                    {{crr}}
                </button>
            </h2>
            <div id="{{crr.id}}" class="accordion-collapse collapse" data-bs-parent="#accordionMain">
                <div class="accordion-body">
                    {% for key, packages in packages.items %}
                        {% if key == crr %}
                            <div class="accordion" id="accordionPckg">
                                <div class="accordion-item">
                                    <h3 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{crr.id}}pckg" aria-expanded="false" aria-controls="{{crr}}">
                                            Assigned packages
                                        </button>
                                    </h3>
                                    <div id="{{crr.id}}pckg" class="accordion-collapse collapse" data-bs-parent="#accordionPckg">
                                        <div class="accordion-body">
                                            <div class="list-group">
                                            {% for package in packages %}
                                                <a href="{% url 'pckgdetail' package.id %}" class="list-group-item list-group-item-action">Package ID: {{package}}</a>
                                            {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="d-grid gap-2">
                        <button class="btn btn-secondary mt-3" type="button" onclick="window.location='{% url 'courierdetail' crr.id %}'">Profile</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}
