{% extends "base.html" %}
{% block content %}
    <div class="row justify-content-between align-items-center pb-3">
        <div class="col-4">
            <h1>Package list</h1>
        </div>
        <div class="col-4 text-end">
            <button type="button" class="btn btn-primary" onclick="window.location='{% url 'pckgadd' %}'">Add package</button>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Weight</th>
            <th scope="col">Address</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            {% for package in packages %}
                <tr ondblclick="location.href='{% url 'pckgdetail' package.id %}'">    
                    <th scope="row">{{package.id}}</th>
                    <td>{{package.weight}}</td>
                    <td>{{package.address}}</td>
                    <td>{{package.package_status}}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-success" onclick="window.location='{% url 'pckgdelivered' package.id %}'">Delivered</button>
                            <button type="button" class="btn btn-primary" onclick="window.location='{% url 'pckgedit' package.id %}'">Edit</button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
