{% extends 'base.html' %}
{% block content %}
    <h1>Package detail</h1>
    <div class="card">
        <h3 class="card-header">Package ID: {{package.id}}</h5>
        <div class="card-body">
            <h4 class="card-subtitle mb-2 text-body-secondary">Package status: {{package.package_status}}</h6>
            <p class="card-subtitle mb-2 text-body-secondary">Address: {{package.address}}</p>
            <p class="card-subtitle mb-2 text-body-secondary">Weight: {{package.weight}}</p>
            <p class="card-subtitle mb-2 text-body-secondary">Date imported: {{package.date_imported}}</p>
            <p class="card-subtitle mb-2 text-body-secondary">Date dispatched: {{package.date_dispatched}}</p>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Special features
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul class="list-group list-group-flush">
                                {% for spft in special_features %}
                                    <li class="list-group-item">{{spft.name}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            Courier: {{package.courier}}
        </div>
    </div>
{% endblock  %}