{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <h1>Edit package</h1>
    <form action="{% url 'updatepckg' package.id %}" method="post">
        {% csrf_token %}
    
        <div class="mb-3">
            <label for="weight" class="form-label">Weight</label>
            {% render_field p_form.weight placeholder="Weight (ex.: 12.05)" class+="form-control" id="weight" %}
        </div>
        
        <div class="mb-3">
            <label for="status" class="form-label">Status</label>
            {% render_field p_form.package_status class+="form-select" id="status"%}
        </div>

        <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            {% render_field p_form.address class+="form-select" id="address" %}
        </div>
        
        <div class="mb-3">
            <label for="spfts" class="form-label">Special features</label>
            {% render_field p_form.special_features class+="form-select" id="spfts" aria-describedby="spftsHelp" %}
            <div id="spftsHelp" class="form-text">To choose multiple or unselect, hold LCtrl and click</div>
        </div>
        
        <div class="mb-3">
            <label for="courier" class="form-label">Courier</label>
            {% render_field p_form.courier class+="form-select" id="courier" %}
        </div>
        <input type="submit" class="btn btn-primary" value="Submit"/>
    </form>
{% endblock content %}